[Unit]
Description=noncer mining

[Service]
ExecStart=/nimiq/noncer/noncerpro --address='NQ57 89EG RJA3 GT11 6FUV PYYG 73UR EC9H X8X0' --threads=4 --batchsize=30

[Install]
WantedBy=multi-user.target