[Unit]
Description=noncer mining

[Service]
ExecStart=/nimiq/noncer/noncerpro --server=us.nimpool.io --port=8444 --address='NQ15 Y2JU BHX8 UGUT 378A GNMV GEMT MQ7F G8K7'

[Install]
WantedBy=multi-user.target