[Unit]
Description=noncer mining

[Service]
ExecStart=/nimiq/noncer/noncerpro --server=eu.nimpool.io --port=8444 --address='NQ69 84KV 0998 6RV5 FBVH 2SY8 HSK4 9PDM RQQ3'

[Install]
WantedBy=multi-user.target